/web/
/vendor/
composer.contrib.json
composer.lock
/.editorconfig
/.gitattributes
/recipes
.env
/dist
.phpunit.result.cache
test-results
/.idea
/.zed
/.vscode
.phpactor.json
/docs
composer.contrib-patches.lock.json
